<div class="form-container">
    <div class="form-group">
      <label class="label" for="fromLocation">From</label>
      <input class="input-field" type="text" id="fromLocation" name="fromLocation" [(ngModel)]="fromLocation" placeholder="Enter from location" required>
    </div>
    <div class="form-group">
      <label class="label" for="toLocation">To</label>
      <input class="input-field" type="text" id="toLocation" name="toLocation" [(ngModel)]="toLocation" placeholder="Enter to location" required>
    </div>
    <div class="form-group">
        <label class="label" for="date">Date</label>
        <input class="input-field" type="date" id="date" name="date" [(ngModel)]="date" required>
      </div>
      <button class="btn-search" (click)="search()">Search</button>
    </div>
    
    <div class="search-results" *ngIf="searchResults.length > 0">
      <h3>Search Results:</h3>
      <ul>
        <li class="search-result-item" *ngFor="let bus of searchResults">
            <div class="form-group">
                <label class="label">Travel Name:</label>
                <div class="input-field">{{ bus.travelName }}</div>
              </div>
              <div class="form-group">
                <label class="label">Departure Time:</label>
                <div class="input-field">{{ bus.departureTime }}</div>
              </div>
              <div class="form-group">
                <label class="label">Arrival Time:</label>
                <div class="input-field">{{ bus.arrivalTime }}</div>
              </div>
              <div class="form-group">
                <label class="label">Fare:</label>
                <div class="input-field">{{ bus.fare }}</div>
              </div>
              <button class="btn-view-seats">View Seats</button>
            </li>
          </ul>
        </div>